.stories_tab {
  cursor: pointer;
}
.stories_tab.active {
  border-bottom: 2px solid #fff;
}
.stories_overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
}
.story-image {
  height: 100%;
}

.story-avatar {
  border: 1px solid white !important;
  border-radius: 50%;
  padding: 0 0.5rem !important;
}
.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
}
.text-yellow-200 {
  --tw-text-opacity: 1;
  color: rgba(253, 230, 138, var(--tw-text-opacity));
}
